.mobileMockup {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boundedMobile {
  position: relative;
}
.boundedAnimation,
.boundedWagonWheel {
  flex: 1;
  background-color: green;
}
.boundedWagonWheel.left {
  transform: scaleX(-1);
}
.boundedAnimation {
  display: none;
  align-items: stretch;
}
.boundedAnimation img {
  width: 100%;
}
.lottieAnim {
  position: absolute;
  display: flex;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  transition: 1s all;
}
